body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}

p {
  padding: 10px;
  text-align: center;
}

h1 {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#wrapper {
  margin: auto;
  width: 500px;
}

#headerwrap {
  width: auto;
  float: left;
  margin: auto;
}

#header {
  height: 140px;
  background: #EEEEEE;
  border-radius: 10px;
  margin: auto auto;
}

#contentwrap {
  width: auto;
  float: center;
  margin: 50px auto;
}

#content {
  background: #FFFFFF;
  margin-left: 132px;
  padding: 10px;
}


canvas {
  display: block;
  margin: auto;
}

button {
  color: #000000 !important;
  font-size: 16px;
  padding: 0px;
  border: 0px;
  margin: auto 10px;
  background: #FFFFFF;
}

button:hover {
  color: #000000 !important;
  box-shadow: 1px 1px #DDDDDD;
  background: #EEEEEE;
}

img {
  width: 50px;
  height: 50px;
}
